<header>
  <nav class="nav-bar">
    <div class="nav-left">Moviees</div>
    <div class="nav-right">
      <ul>
        <li class="nav-item">
          <%= link_to "top", root_path %>
        </li>
        <li class="nav-item">
          <%= link_to "about", about_path %>
        </li>
        <li class="nav-item">
          <%= link_to "投稿", new_movie_path %>
        </li>
        <li class="nav-item">
          <%= link_to "一覧", movies_path %>
        </li>
        <li class="nav-item">
          <%= link_to "お気に入り（仮）", movies_path %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
      </ul>
    </div>
  </nav>
</header>